.jumbotron {
    color: black;
}

.jumbotron-sm {
    padding-top: 24px;
    padding-bottom: 24px;
}

.jumbotron small {
    color: black;
}

.h1 small {
    font-size: 24px;
}

#email {
    width: 241px;
}

#office {
    background-color: #eeeeee;
}