
@{
    ViewBag.Title = "WorkExperience";
}


<div>
    <div>
        <h1>Kmart</h1>
    </div>
    <div>
        <h1>Lincoln University</h1>
    </div>
    <div>
        <h1>Colton's Steakhouse and Grill</h1>
    </div>
    <div>
        <h1>Longhorn SteakHouse</h1>
    </div>
    <div>
        <h1>Jacobs Property Management</h1>
    </div>
    <div>
        <h1>MidwayUSA</h1>
    </div>
</div>
