
@{
    ViewBag.Title = "Contact";
}

<div>
    <div>
        <p class="contact">Contact Information</p>
        <div>
            <!-- need to pull this data from the database but for now we will hard code it-->
            <div>
                <div id="contactInformation">Phone Number: </div>
                <div class="information">(555)555-5555</div>
            </div>
            <div>
                <div id="contactInformation">Email: </div>
                <div class="information">tester@midwayusa.ninja</div>
            </div>
            <div>
                <div id="contactInformation">Address: </div>
                <div class="information">5875 W Van Horn Tavern Rd, Columbia, MO 65203</div>
            </div>
        </div>
    </div>
    <div>
        <form>
            <div class="contact">Contact Me</div>
            <div>
                <div>
                    <p class="contactHeader">Subject</p>
                    <textarea placeholder="Why do you suck at CSS?" class="textarea"></textarea>
                </div>
                <div>
                    <p class="contactHeader">Email</p>
                    <textarea placeholder="Example@example.com" class="textarea"></textarea>
                </div>
                <div>
                    <p class="contactHeader">Name</p>
                    <textarea placeholder="John Doe" class="textarea"></textarea>
                </div>
                <div>
                    <p class="contactHeader">Message</p>
                    <textarea placeholder="Obvisouly CSS just sucks" class="textareaForMessage"></textarea>
                </div>
            </div>
            <div id="submitContactDiv">
                <button id="submitContactMe">Submit</button>
            </div>
        </form>
    </div>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2760.8726958174243!2d-92.42339511851952!3d38.969889041644855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sus!4v1490995544221" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>

